.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
    max-width: auto;
    font-size: 17px;
    padding: 20px;
    margin: 15px;
    gap: 40px;
    color: #5b5c38;
    overflow-y: scroll;
    height: 84vh;
}
.creators{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 30px;
}

h6{
  display: flex;
  justify-content:center;
  color: #5b5c38;
  font-size: 15px;
}
.developer1-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 200px; /* Adds rounded corners to the image */
    margin: auto; /* Centers the image horizontally in the flex container */
    display: block; /* Ensures the margin auto is effective */
}

  .developer2-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 200px; /* Adds rounded corners to the image */
    margin: auto; /* Centers the image horizontally in the flex container */
    display: block; /* Ensures the margin auto is effective */
  }
  .developer3-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 200px; /* Adds rounded corners to the image */
    margin: auto; /* Centers the image horizontally in the flex container */
    display: block; /* Ensures the margin auto is effective */
  }

  