.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  height: 400px;
  margin: 20px;
  max-width: 700px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  height: 300px;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  width: 460px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  text-decoration: none;
  color: #5b5c38;
  height: 50px;
  border-radius: 100%;
}

.day div {
  background-color: transparent;
}

#month-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  align-items: center;
}

#month-bar button {
  width: 40px;
  height: 40px;
  background-color: #5b5c38;
  border: none;
  color: #f0f0f0;
  border-radius: 50%;
}

.blank{
  border-radius: 100%;
}

.weekday {
  height: 20px;
  background-color: transparent;
  text-align: center;
}