.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  height: 300px;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
}

#month-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  align-items: center;
}

#month-bar button {
  width: 40px;
  height: 40px;
  background-color: #6f8b72;
  border: none;
  color: #f0f0f0;
  border-radius: 50%;
}

.blank {
  /* background-color: #fff; */
}

.weekday {
  height: 20px;
  background-color: transparent;
  text-align: center;
}