.form-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 700px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    color: #6f8b72;
    gap: 20px;
}

label{
    display: flex;
    justify-content: space-between;
}

.titleMeal {
    display: flex;
    justify-content: center;
    color: #6f8b72;
    font-size: 31px;
    background-color: transparent;
    margin: 20px 0px;
}

.all-meals-section {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 700px; /* Matches the form container width */
    margin: 40px;
    display: flex;
    flex-direction: column;
    color: #6f8b72;
}

.moveBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.addNewButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 237, 232);
    background-color: #6f8b72;
    opacity: 60%;
    font-weight: 800;
    cursor: pointer;
    padding: 10px;
    margin: 20px 0px;
    width: 200px;
}