.today-meal{ /*Used to be todayMeat*/
    color: #6f8b72;
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
    padding: 20px;
}

.search-meal{ /*Used to be searchMeat*/
    color: #6f8b72;
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
    padding: 0px 20px;
}

h5{
    display: flex;
    justify-content: center;
    color: #6f8b72;
    font-size: 23px;
    background-color: transparent;
    padding: 10px;
}

.quick-meal-form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 700px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    color: #6f8b72;
    gap: 10px;
}

.search-bar{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color: #6f8b72;
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
    margin: 20px;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color: rgb(245, 237, 232);
    font-size: 20px;
    background-color: #6f8b72;
    opacity: 60%;
    padding: 10px;
    margin: 20px 0px; 
}

#meal-card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 10px;
    flex-wrap: wrap;
}

.search-img{
    width: 40px;
}

.complete-card{
      overflow-y: scroll;
      height: 80vh;
}