
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6f8b72;
    padding: 20px;
    height: 9vh;
  }

.logo {
    background-color: transparent;
    width: 40px;
}

.logo:hover{
    transition: 0.2s ease-in-out;
    background-color: #bc1001; 
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.title {
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 30px;
    background-color: transparent;
}

.user img{
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.user:hover{
    transition: 0.2s ease-in-out;
    background-color: #bc1001; 
    border-radius: 40px;
    cursor: pointer;
    
}