
.infoPageContainer {
    max-width: 750px; /* Maximum width */
    padding: 20px; /* Add some padding inside the container */
    display: flex; /* Using flexbox to arrange child elements */
    flex-wrap: wrap; /* Allow items to wrap if not enough space */
    justify-content: space-between; /* Space out items */
    overflow-y: scroll;
    height: 70vh;
    color: #6f8b72;
    padding: 0px 50px;
    gap: 30px;
  }
  
  .infoButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(245, 237, 232);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .infoButton:hover {
    transition: 0.2s ease-in-out;
    background-color: #9a0d01; /* A slightly darker blue */
  }
  
  .infoImage {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }
  