.LogInFormContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    max-width: 700px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    color: #5b5c38;
    gap: 20px;
}

label{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
}


.LogInButtonDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.loginTitle {
font-size: 18px;
font-weight: bold;
}

