.userInfo {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 700px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    color: #6f8b72;
    gap: 10px;
    overflow-y: scroll;
    height: 70vh;
}

label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.userNameH2 {
    display: flex;
    justify-content:center;
    color: #6f8b72;
    font-size: 30px;
    padding: 20px;
}

.calButton {
    width: 50px;
    height: 50px;
    color: rgb(245, 237, 232);
    background-color: #5b5c38;
    text-decoration: none;
    font-size: 15px;
    text-decoration: none;
    border-radius: 40px; 
}

.calButton:hover {
 /* refactor */
    
    transition: 0.2s ease-in-out;
    background-color: #bc1001;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 40px; 
    
    
}