.body {

    display: flex;
    align-items: center;
}

.about-container {
    width: 500px;
    
}

h2 {
    font-size: 30px;
    text-wrap: wrap;
    text-align: left;
    color: rgb(74, 14, 14);
    padding: 10px;
    margin-top: 40px;

}

.creators {
    margin-top: 20px; /* Reduce margin for a compact look */
    font-size: 15px;
    
}
