.footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6f8b72;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.footerHome{
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
}

.footerGit{
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
}

.footerNew{
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
}