
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6f8b72;
    padding: 20px;
  }

.logo {
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 40px;
    background-color: transparent;
    width: 70px;
}

.user {
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 31px;
    background-color: transparent;
}

.title {
    color: rgb(245, 237, 232);
    text-decoration: none;
    font-size: 40px;
    background-color: transparent;
}